<%= form_for @face do |f| %>
    <p>
      <div style="float: left; margin-right: 30px">
        <%= f.label :name %><br/>
        <%= f.text_field :name, :class => "form-control", :readonly => true, :data => {:toggle => "tooltip"}, :title => "The staff member's full name." %>
      </div>
      <div>
        <%= f.label(:aapl, "Name (Override)") %><br/>
        <%= f.text_field :ovr_name, :class => "form-control", :data => {:toggle => "tooltip"}, :title => "The staff member's full name/nickname." %>
      </div>
    </p>
    <p>
    <div style="float: left; margin-right: 30px">
      <%= f.label :type %><br/>
      <%= f.text_field :_type, :class => "form-control", :readonly => true, :data => {:toggle => "tooltip"}, :title => "Are they an academic, administrative or technical member of staff?" %>
    </div>
    <div>
      <%= f.label(:aapl, "Type (Override)") %><br/>
      <%= f.text_field :ovr_type, :class => "form-control", :data => {:toggle => "tooltip"}, :title => "Are they an academic, administrative or technical member of staff?" %>
    </div>
    </p>
    <p>
    <div style="float: left; margin-right: 30px">
      <%= f.label :position %><br/>
      <%= f.text_field :position, :class => "form-control", :readonly => true, :data => {:toggle => "tooltip"}, :title => "The staff member's role/position in the school." %>
    </div>
    <div>
      <%= f.label(:aapl, "Position (Override)") %><br/>
      <%= f.text_field :ovr_position, :class => "form-control", :data => {:toggle => "tooltip"}, :title => "The staff member's role/position in the school." %>
    </div>
    </p>
    <p>
    <div style="float: left; margin-right: 30px">
      <%= f.label :room %><br/>
      <%= f.text_field :room, :class => "form-control", :readonly => true, :data => {:toggle => "tooltip"}, :title => "The staff member's room/address in the school." %>
    </div>
    <div>
      <%= f.label(:aapl, "Room (Override)") %><br/>
      <%= f.text_field :ovr_room, :class => "form-control", :data => {:toggle => "tooltip"}, :title => "The staff member's room/address in the school." %>
    </div>
    </p>
    <p>
    <div style="float: left; margin-right: 30px">
      <%= f.label :email %><br/>
      <%= f.text_field :email, :class => "form-control", :readonly => true, :data => {:toggle => "tooltip"}, :title => "The staff member's university email address." %>
    </div>
    <div>
      <%= f.label(:aapl, "Email (Override)") %><br/>
      <%= f.text_field :ovr_email, :class => "form-control", :data => {:toggle => "tooltip"}, :title => "The staff member's email address." %>
    </div>
    </p>
    <p>
    <div style="float: left; margin-right: 30px">
      <%= f.label :phone %><br/>
      <%= f.text_field :phone, :class => "form-control", :readonly => true, :data => {:toggle => "tooltip"}, :title => "A telephone number for contacting the staff member." %>
    </div>
    <div>
      <%= f.label(:aapl, "Phone (Override)") %><br/>
      <%= f.text_field :ovr_phone, :class => "form-control", :data => {:toggle => "tooltip"}, :title => "A telephone number for contacting the staff member." %>
    </div>
    </p>
    <p>
    <div style="float: left; margin-right: 30px">
      <%= f.label 'Link to photo' %><br/>
      <%= f.text_field :photo, :class => "form-control", :readonly => true, :data => {:toggle => "tooltip"}, :title => "The URL of the staff member's photo." %>
    </div>
    <div>
      <%= f.label(:aapl, "Link to photo (Override)") %><br/>
      <%= f.text_field :ovr_photo, :class => "form-control", :data => {:toggle => "tooltip"}, :title => "The URL of the staff member's photo." %>
    </div>
    </p>
    <p>
    <% if @face.model_file? %>
      <%= f.label 'Remove model file?' %>
      <%= f.check_box :remove_model_file %>
    <% else %>
      <%= f.label 'Upload model file' %><br/>
      <%= f.file_field :model_file, :class => "form-control", :data => {:toggle => "tooltip"}, :title => "The staff member's 3D model as an .obj file. This will be displayed on the digital staff board." %>
    <% end %>
    </p>
    <p>
      <%= f.submit "Save", :class => "btn btn-success" %>
    </p>
<% end %>