<%= form_for @face do |f| %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name, :class => "text_field" %>
    </p>
    <p>
      <%= f.label :type %><br/>
      <%= f.text_field :_type, :class => "text_field" %>
    </p>
    <p>
      <%= f.label :position %><br/>
      <%= f.text_field :position, :class => "text_field" %>
    </p>
    <p>
      <%= f.label :modules %><br/>
      <%= f.text_field :modules, :class => "text_field" %>
    </p>
    <p>
      <%= f.label :room %><br/>
      <%= f.text_field :room, :class => "text_field" %>
    </p>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email, :class => "text_field" %>
    </p>
    <p>
      <%= f.label :phone %><br/>
      <%= f.text_field :phone, :class => "text_field" %>
    </p>
    <p>
      <%= f.label 'Link to photo' %><br/>
      <%= f.text_field :photo, :class => "text_field" %>
    </p>
    <p>
      <%= f.submit "Save", :class => "button" %>
    </p>
<% end %>