<% title "Update" %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 style="padding: 0px" class="modal-title" id="exampleModalLabel">Help information</h3>
      </div>
      <div class="modal-body">
        This page lets you update the information held on a specific staff member.<br><br>
        The greyed-out values on the left are those which have been extracted from the school's 'People' webpages.
        These can be manually overridden by entering another value (e.g. a nickname instead of their name) in the corresponding 'Override' fields on the right.
        Override values will always be displayed on the ManyFaces staff board instead of the extracted values, if they exist.<br><br>
        To remove an override value, simply leave the field blank and the extracted value for that field will be used instead.<br><br>
        If you're not sure exactly what information a field is asking for, simply hover your cursor over it for a hint.<br><br>
        Once you're done making updates, click the <%= button_tag :class => "btn btn-success" do %>Save<% end %> button to apply them.<br><br>
        Don't worry if you make a mistake - all of the information can be updated again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="help">
  <%= button_tag :style => "margin-top: 5px;", :class => "btn btn-default", :data => {:toggle => "modal", :target => "#exampleModal"} do %>
      <span class="glyphicon glyphicon-question-sign"></span>
  <% end %>
</div>

<%= button_to faces_path, :class => "btn btn-default", :id => "back", :method => :get do %>
    <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
<% end %>

<h1>Update staff member</h1>

<% if @face.errors.any? %>
    <div class="alert alert-danger">
      <p>The following errors prevented the staff member from being updated:</p>
      <ul>
        <% @face.errors.full_messages.each do |err| %>
            <li><%= err %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= render 'editform' %>