<% title "View All" %>

<div id="logout">
  <%= button_to "Log out", destroy_user_session_path, :class => "btn btn-default", :method => :delete %>
</div>

<h1>Staff members</h1>

  <div id="addnew">
    <%= button_to new_face_path, :class => "btn btn-success", :method => :get do %>
        <span class="glyphicon glyphicon-plus"></span>&nbsp; New staff member
    <% end %>
  </div>
  <%= button_to faces_scrape_path, :class => "btn btn-default", :method => :post do %>
        <span class="glyphicon glyphicon-refresh"></span>&nbsp; Sync
  <% end %>

<%= paginate(@faces) %>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Position</th>
    <th>Modules</th>
    <th>Room</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Photo</th>
    <th colspan="2">Actions</th>
  </tr>

  <% @faces.each do |face| %>
      <tr class="<%= face.visible ? 'default' : 'coloured' %>">
      <td>
        <% if face.ovr_name.to_s.empty? %>
          <%= face.name %>
        <% else %>
          <%= face.ovr_name %>
        <% end %>
      </td>
      <td>
        <% if face.ovr_type.to_s.empty? %>
            <%= face._type %>
        <% else %>
            <%= face.ovr_type %>
        <% end %>
      </td>
      <td>
        <% if face.ovr_position.to_s.empty? %>
            <%= face.position %>
        <% else %>
            <%= face.ovr_position %>
        <% end %>
      </td>
      <td>
        <% if face.ovr_modules.to_s.empty? %>
            <%= face.modules %>
        <% else %>
            <%= face.ovr_modules %>
        <% end %>
      </td>
      <td>
        <% if face.ovr_room.to_s.empty? %>
            <%= face.room %>
        <% else %>
            <%= face.ovr_room %>
        <% end %>
      </td>
      <td>
        <% if face.ovr_email.to_s.empty? %>
            <%= face.email %>
        <% else %>
            <%= face.ovr_email %>
        <% end %>
      </td>
      <td>
        <% if face.ovr_phone.to_s.empty? %>
            <%= face.phone %>
        <% else %>
            <%= face.ovr_phone %>
        <% end %>
      </td>
      <td>
        <% if face.ovr_photo.to_s.empty? %>
            <a href=<%= face.photo %>><%= face.photo %></a>
        <% else %>
            <a href=<%= face.ovr_photo %>><%= face.ovr_photo %></a>
        <% end %>
      </td>
      <td><%= button_to edit_face_path(face), :class => "btn btn-warning", :method => :get do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
      </td>
      <td><%= button_to face_path(face), method: :delete, data: {confirm: "Are you sure you want to delete this staff member?"}, :class => "btn btn-danger" do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>