<% title "View All" %>

<div id="logout">
  <%= button_to "Log out", destroy_user_session_path, :class => "button", :method => :delete %>
</div>

<h1>Staff members</h1>

<p>
  <div id="addnew">
    <%= button_to "Add new staff member", new_face_path, :class => "button", :method => :get %>
  </div>
  <%= button_to "Sync", faces_scrape_path, :class => "button", :method => :post %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Position</th>
    <th>Modules</th>
    <th>Room</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Photo</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @faces.each do |f| %>
    <tr>
      <td>
        <% if f.ovr_name.to_s.empty? %>
          <%= f.name %>
        <% else %>
          <%= f.ovr_name %>
        <% end %>
      </td>
      <td>
        <% if f.ovr_type.to_s.empty? %>
            <%= f._type %>
        <% else %>
            <%= f.ovr_type %>
        <% end %>
      </td>
      <td>
        <% if f.ovr_position.to_s.empty? %>
            <%= f.position %>
        <% else %>
            <%= f.ovr_position %>
        <% end %>
      </td>
      <td>
        <% if f.ovr_modules.to_s.empty? %>
            <%= f.modules %>
        <% else %>
            <%= f.ovr_modules %>
        <% end %>
      </td>
      <td>
        <% if f.ovr_room.to_s.empty? %>
            <%= f.room %>
        <% else %>
            <%= f.ovr_room %>
        <% end %>
      </td>
      <td>
        <% if f.ovr_email.to_s.empty? %>
            <%= f.email %>
        <% else %>
            <%= f.ovr_email %>
        <% end %>
      </td>
      <td>
        <% if f.ovr_phone.to_s.empty? %>
            <%= f.phone %>
        <% else %>
            <%= f.ovr_phone %>
        <% end %>
      </td>
      <td>
        <% if f.ovr_photo.to_s.empty? %>
            <a href=<%= f.photo %>><%= f.photo %></a>
        <% else %>
            <a href=<%= f.ovr_photo %>><%= f.ovr_photo %></a>
        <% end %>
      </td>
      <td><%= link_to "Edit", edit_face_path(f) %></td>
      <td><%= link_to "View", face_path(f) %></td>
      <td><%= link_to "Delete", face_path(f), method: :delete, data: {confirm: "Are you sure you want to delete this staff member?"} %></td>
    </tr>
  <% end %>
</table>