<% title "Reorder" %>

<div class="help">
  <%= button_tag :style => "margin-top: 5px;", :class => "btn btn-default", :data => {:toggle => "modal", :target => "#exampleModal"} do %>
      <span class="glyphicon glyphicon-question-sign"></span>
  <% end %>
</div>

<%= button_to faces_path, :class => "btn btn-default", :id => "back", :method => :get do %>
    <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
<% end %>

<h1>Reorder Faces</h1>

<%= button_tag :class => "btn btn-success", :id => "save-order", :onclick => "update_order()" do %>
    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save this order
<% end %>

<ul id="sortable">
  <% @faces.each do |face| %>
    <li class="ui-state-default" id="<%= face.id %>">
      <% id = "label-" + face.id.to_s %>
      <%= text_field_tag "faces-label", nil, :class => "faces-label", :id => id, :value => face.label %>
      <%= face.name %>
    </li>
  <% end %>
</ul>