<% title "Reorder" %>

<div id="progressbar"></div>

<div class="help">
  <div style="display: inline-block">
    <label for="dimensions">Dimensions:</label>
    <select id="dimensions" name="dimensions">
      <% @layouts.each do |layout| %>
        <% if layout.selected? %>
          <option selected="selected"><%= layout.width %> x <%= layout.height %></option>
        <% else %>
          <option><%= layout.width %> x <%= layout.height %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <%= button_tag :style => "margin-top: 5px;", :class => "btn btn-default", :data => {:toggle => "modal", :target => "#exampleModal"} do %>
      <span class="glyphicon glyphicon-question-sign"></span>
  <% end %>
</div>

<%= button_to faces_path, :class => "btn btn-default", :id => "back", :method => :get do %>
    <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
<% end %>

<h1>Reorder Faces</h1>

<%= button_tag :class => "btn btn-success", :id => "save-order", :onclick => "update_order()" do %>
    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save this order
<% end %>

<%= button_tag :class => "btn btn-default", :id => "add-blank", :onclick => "add_blank()" do %>
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add blank space
<% end %>

<ul id="ordering">
  <% index = 0 %>
  <% @faces.each do |face| %>
    <% if face.visible %>
      <% while face._index != index %>
        <li style="border: 1px dashed #c5c5c5" class="blank">
          <button style="width: 50%; position: absolute; top: 35px; left: 25px" onclick="delete_blank(this)">Delete</button>
        </li>
        <% index += 1 %>
      <% end %>

      <li class="ui-state-default" id="<%= face.id %>">
        <% id = "label-" + face.id.to_s %>
        <%= text_field_tag "faces-label", nil, :class => "faces-label", :id => id, :value => face.label %>
        <%= face.name %>
      </li>
      <% index += 1 %>
    <% else %>
      <% index += 1 %>
    <% end %>
  <% end %>
</ul>

<script>
    $(document).ready(function() {
        var layout = "<%= @selected.width %> x <%= @selected.height %>";
        update_dimens(layout);
    });
</script>