<% title "View" %>

<h1>View staff member</h1>

<p>
  <b>Name:</b> <%= @face.name %>
</p>
<p>
  <b>Type:</b> <%= @face._type %>
</p>
<p>
  <b>Position:</b> <%= @face.position %>
</p>
<p>
  <b>Modules:</b> <%= @face.modules %>
</p>
<p>
  <b>Room:</b> <%= @face.room %>
</p>
<p>
  <b>Email:</b> <%= @face.email %>
</p>
<p>
  <b>Phone:</b> <%= @face.phone %>
</p>
<p>
  <b>Link to photo:</b> <%= @face.photo %>
</p>

<%= button_to "Update this staff member", edit_face_path(@face), class: "field", method: :get %>
<%= link_to "Back to all staff members", faces_path %>