<% title "View" %>

<h2>View staff member</h2>

<p>
  <b>Name:</b> <%= @face.name %>
</p>
<p>
  <b>Room:</b> <%= @face.room %>
</p>
<p>
  <b>Modules:</b> <%= @face.modules %>
</p>
<p>
  <b>Email:</b> <%= @face.email %>
</p>
<p>
  <b>Link to photo:</b> <%= @face.photo %>
</p>

<p>
  <%= link_to "Update this staff member", edit_face_path(@face) %> |
  <%= link_to "Back to all staff members", faces_path %>
</p>